.Primary{
    color: #
}




#grad1 {
    height: 50em;
    background: red; /* For browsers that do not support gradients */
    background: linear-gradient(red, yellow); /* Standard syntax (must be last) */
}