.container {
    width: 80%;
    margin: 0;
}

body {
    margin: 0;
    
    font-family: 'work Sans', sans-serif;
    font-weight: 300;
}

header {
    background: #4288e4;
    
}

header::after {
    content: '';
    display: table;
    clear: both;
}


/*makes the logo stick to the left side with zero padding(no space inbetween*/
.logo {
    float: left;
    padding: 10px 0;

}

/*Makes items float from the right side of the  bar*/
nav {
    float: right;
}
nav ul {
margin: 0;
padding: 0;
list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;

    position: relative;
    }

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

/*Hover effect start*/
nav a:hover {
    color: #000;
}
nav a::before {
    content: '';
    display: block; 
    height: 5px;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
width: 100%;
}
/*Hover effect end*/



